{% extends "layout.html" %}{% load static %} {% block body %}
<!-- Live event Section-->
<section class="page-section" id="liveevent">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LIVE EVENT </h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="container divider-custom">
            <div class="row justify-content-center">
                <h3 class="text-center text-uppercase text-secondary mb-0">Heading</h3>
            </div>
        </div>

        <div id="nolive">
            <div class="container divider-custom">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-lg-4 ml-auto">
                            <p class="lead">
                                The event hasn't gone live yet! <br/> It will be going live soon. <br/> <br/>Why don't you check our website in the meantime! <br/><br/>Click the below button to proceed to website <br/>
                                <a class="btn btn-outline-light btn-social mx-1 btn-primary" title="The Main Website" href="#!"><i class="fa fa-globe"></i></a>
                            </p>
                        </div>
                        <div class="col-lg-4 mr-auto">
                            <h5>
                                <p><strong>The event will go live on <br/><br/> 12 April, 2020 14:45:00 AM</strong></p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-white">About The Event</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
            </div>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/" target="_blank">
                <i class="fas fa-info-circle mr-2"></i><i class="fas fa-angle-right mr-2"></i> Know More!
            </a>
        </div>
    </div>
</section>


<!-- Contact Section-->
<section class="page-section" id="aboutus">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About Us</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}