{% extends "layout.html" %}{% load static %} {% block body %}
<!-- Live event Section-->
<section class="page-section" id="liveevent">
    <div class="container">

        {% if events %} {% if event.embeedlink %}
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LIVE EVENT </h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="container divider-custom">
            <div class="row justify-content-center">
                <h3 class="text-center text-uppercase text-secondary mb-0">{{event.streamingvideoheader}} {% if event.live %}
                    <div class="btn btn-danger live" id="live"><b>LIVE</b></div>
                    {% endif %}
                </h3>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class=" embed-responsive embed-responsive-16by9 ">
                    <iframe class="embed-responsive-item" src="{{event.embeedlink}}" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>

        <div class="container divider-custom">
            <div class="row justify-content-center">
                <h5 class="text-center text-uppercase text-secondary mb-0">Having Problems Viewing here ? Then go and directly watch in our facebook page</h5>
                <a class="btn btn-outline-light bg-primary" href="{{event.streamingvideolink}}" target="_blank ">
                    Click Here! <i class="fas fa-arrow-circle-right ml-2"></i>
                </a>
            </div>
        </div>

        {% else %}

        <div class="container divider-custom">
            <div class="row justify-content-center">
                <h3 class="text-center text-uppercase text-secondary mb-0">{{event.streamingvideoheader}}</h3>
            </div>
        </div>

        <div class="container divider-custom">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="lead">
                            The event hasn't gone live yet! <br/> It will be going live soon. <br/> <br/>Why don't you check our website in the meantime! <br/><br/>Click the below button to proceed to website <br/>
                            <a class="btn btn-outline-light btn-social mx-1 btn-primary" title="The Main Website" href="{{desc.website}}" target="_blank"><i class="fa fa-globe"></i></a>
                        </p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <h5>
                            <p><strong>The event will go live on <br/><br/> {{event.date}}</strong></p>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {% endif %} {% else %}

        <h3 class="page-section-heading text-center text-uppercase text-secondary">No events</h3>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h5 class=" text-center text-uppercase">It will be there soon ...</h5>
        {% endif %}

    </div>
</section>


<!-- About event Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

        {% if events %}

        <h2 class="page-section-heading text-center text-uppercase text-white">About The Event</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">{{event.streamingvideodescription_left}}</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">{{event.streamingvideodescription_right}}</p>
            </div>
        </div>

        {% else %}

        <h3 class="page-section-heading text-center text-uppercase text-white">No events</h3>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h5 class=" text-center text-uppercase text-white">It will be there soon ...</h5>

        {% endif %}
    </div>
</section>


<!-- About us section Section-->
<section class="page-section" id="aboutus">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About Us</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">{{desc.aboutleft}}</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">{{desc.aboutright}}</p>
            </div>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light bg-primary" href="{{desc.website}}" target="_blank ">
                <i class="fas fa-info-circle mr-2 "></i><i class="fas fa-angle-right mr-2 "></i> Know More!
            </a>
        </div>
    </div>
    </div>
</section>
{% endblock %}